{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet">
<style>
  .news_img {
    height: 120px;
    width:  200px;
  }
</style>
{% endblock css %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark sticky-top">
  <span class="navbar-brand mb-0 h1 w-75">小超数据</span>
  <span class="navbar-text">欢迎您，{{ user_info.username }}</span>
  <span class="navbar-text">剩余次数: <span id="id_times">{{ user_info.times }}</span></span>
  <a class="nav-link" href="{% url 'login:logout' %}">登出</a>
</nav>
{% endblock navbar %}

{% block container %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="wechat-tab" data-toggle="tab" href="#wechat" role="tab" aria-controls="wechat" aria-selected="true">微信文章</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="weibo-tab" data-toggle="tab" href="#weibo" role="tab" aria-controls="weibo" aria-selected="false">微博文章</a>
  </li>
  <!--
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
  -->
</ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="wechat" role="tabpanel" aria-labelledby="wechat-tab">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <form action="{% url 'wechat:search' %}" method="post" role="form" class="mt-3" id="searchForm">
            {% csrf_token %}
            <div class="form-group row">
              <div class="col-md-5">
                <div class="input-group mb-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="{{ form.wx_name.id_for_label }}">微信号</span>
                  </div>
                  {{ form.wx_name }}
                </div>
                {{ form.wx_name.errors }}
              </div>
              <div class="col-md-5">
                <div class="input-group mb-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="{{ form.posttime_range.id_for_label }}">发布日期</span>
                  </div>
                  {{ form.posttime_range }}
                </div>
                {{ form.posttime_range.errors }}
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary">查询</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row ml-0">
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="sortDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            发布日期由近到远
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0);" onclick="sort_result(this, '+posttime');">发布日期由近到远</a>
            <a class="dropdown-item" href="javascript:void(0);" onclick="sort_result(this, '-posttime');">发布日期由远到近</a>
            <a class="dropdown-item" href="javascript:void(0);" onclick="sort_result(this, '+read_count');">阅读数由高到低</a>
            <a class="dropdown-item" href="javascript:void(0);" onclick="sort_result(this, '-read_count');">阅读数由低到高</a>
            <a class="dropdown-item" href="javascript:void(0);" onclick="sort_result(this, '+like_count');">点赞数由高到低</a>
            <a class="dropdown-item" href="javascript:void(0);" onclick="sort_result(this, '-like_count');">点赞数由低到高</a>
          </div>
        </div>
        <a class="btn btn-link" href="{% url 'wechat:download' %}" role="button">下载到本地</a>
      </div>
      <hr class="mt-0 mb-3">

      <div id="newsList" style="weight: 100%; height: 100%;">
        <div class="news ml-2 text-center">
          暂无数据
        </div>
      </div>

    </div>
  </div>

  <div class="tab-pane fade" id="weibo" role="tabpanel" aria-labelledby="weibo-tab">开发中...</div>
  <!--
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  -->
</div>

{% endblock container %}

{% block js %}
<script src="{% static 'js/moment.min.js' %}" charset="UTF-8"></script>
<script src="{% static 'js/daterangepicker.js' %}" charset="UTF-8"></script>
<script src="{% static 'wechat/js/wechat.js' %}" charset="UTF-8"></script>

<script>
$(document).ready(function() {
  $(".daterange").daterangepicker({
      "autoApply": true,
      showDropdowns: true,
      autoUpdateInput: false,
      locale: {
        format: 'YYYY-MM-DD',
        daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                 '七月', '八月', '九月', '十月', '十一月', '十二月'],
      },
  });
});
</script>
{% endblock js %}
