{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  body {
    height: 100%;
    background-image: url('../../static/login/images/bg.jpg');
  }
</style>
{% endblock css %}

{% block container %}

<div class="row justify-content-center align-items-center" style="height:70vh">
  <div class="col-md-6 col-sm-12 bg-light mt-5">
    <form action="{% url 'login:login' %}" method="post", role="form", class="mt-4 ml-2 mr-2 mb-5" id="loginForm">
      {% csrf_token %}
      <h3 class="text-center">欢迎登录</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ loginForm.username.id_for_label }}">账号</span>
        </div>
        {{ loginForm.username }}
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ loginForm.password.id_for_label }}">密码</span>
        </div>
        {{ loginForm.password }}
      </div>
      <button type="submit" class="btn btn-success btn-block">登录</button>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">提示</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="id_loginModal">
        ...
      </div>
    </div>
  </div>
</div>
{% endblock container %}

{% block js %}
<script src="{% static 'login/js/login.js' %}" charset="UTF-8"></script>
{% endblock js %}
