{% extends 'wechat/base.html' %}

{% block container %}
<div class="row">

  <div class="col-md-8 mt-2 bg-light">
    <form action="{% url 'wechat:msg_search' %}" method="post" role="form" class="mt-5">
      {% csrf_token %}
      <div class="form-group row">
        <label for="{{ form.wx_name.id_for_label }}" class="col-md-2 col-form-label">{{ form.wx_name.label }}</label>
        <div class="col-md-8">
          {{ form.wx_name }}
          {{ form.wx_name.errors }}
        </div>
        <span class="text-danger">*</span>
      </div>
      <div class="form-group row">
        <label for="{{ form.posttime_start.id_for_label }}" class="col-md-2 col-form-label">发布日期</label>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="{{ form.posttime_start.id_for_label }}">From</span>
            </div>
            {{ form.posttime_start }}
          </div>
          {{ form.posttime_start.errors }}
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="{{ form.posttime_end.id_for_label }}"> To </span>
            </div>
            {{ form.posttime_end }}
          </div>
          {{ form.posttime_end.errors }}
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.keywords.id_for_label }}" class="col-md-2 col-form-label">{{ form.keywords.label }}</label>
        <div class="col-md-8">
          {{ form.keywords }}
          {{ form.keywords.errors }}
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.sort.id_for_label }}" class="col-md-2 col-form-label">{{ form.sort.label }}</label>
        <div class="col-md-8">
          {{ form.sort }}
          {{ form.sort.errors }}
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ form.order.id_for_label }}" class="col-md-2 col-form-label">{{ form.order.label }}</label>
        {% for opt in form.order %}
        <div class="col-md-2">
          <div class="form-check">
            {{ opt }}
          </div>
          {{ form.order.errors }}
        </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">查询</button>
    </form>
  </div>

  <div class="col-md-4 mt-2">
    <div class="h-100 w-100 d-inline-block bg-light">
    <form action="{% url 'wechat:login' %}" method="post", role="form", class="mt-5 ml-2 mr-2" id="login_form">
      {% csrf_token %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ login_form.account.id_for_label }}">账号</span>
        </div>
        {{ login_form.account }}
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ login_form.password.id_for_label }}">密码</span>
        </div>
        {{ login_form.password }}
      </div>
      <input type="button" class="btn btn-success btn-block" onclick="login()">登录</input>
    </form>
    </div>
  </div>

</div>
{% endblock container %}
